div{
    text-align: center;
}
img{
    width: 30%;
    height: 15%;
}
h1{
    text-transform: uppercase;
    text-decoration:underline;
}
p{
    font-size: 20px;
}
#heading{
    font-size: 40px;
    text-decoration: none;
}